# Browsers that we support (Angular 20 compatible)

[production]
last 2 Chrome versions
last 2 Firefox versions
Firefox ESR
last 2 Edge versions
last 2 Safari major versions
last 2 iOS major versions
not op_mini all

[development]
last 1 Chrome version
last 1 Firefox version
last 1 Safari version
